altair
anyio
appnope
argon2-cffi
argon2-cffi-bindings
asn1crypto
asttokens
attrs
backcall
beautifulsoup4
bleach
bs4
certifi
cffi
charset-normalizer
click
contourpy
convert
cssselect
cycler
debugpy
decorator
defusedxml
entrypoints
et-xmlfile
executing
fastjsonschema
ffmpeg
fonttools
htmltab
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
mogrify
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
openpyxl
packaging
pandas
pandocfilters
parso
pexpect
pg8000
pickleshare
Pillow
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
scramp
Send2Trash
six
sniffio
soupsieve
SQLAlchemy
stack-data
terminado
tinycss2
toolz
tornado
traitlets
urllib3
wcwidth
webencodings
websocket-client
wget
widgetsnbextension
xlrd
youtube-dl

